<div class="sofia-map-container">
  <app-map
    [regions]="regions"
    [width]="1017"
    [height]="909"
    [onRegionClick]="onRegionClick"
    [selectedRegions]="selectedRegions"
  ></app-map>

  <app-regions-menu
    [regions]="regions"
    [selectedRegions]="selectedRegions"
    [onRegionClick]="onRegionClick"
  ></app-regions-menu>
</div>
