<svg [attr.width]="width" [attr.height]="height">
  <path
    *ngFor="let region of regions"
    [attr.d]="region.svgPathDescription"
    (click)="onRegionClick(region)"
    [attr.class]="'map-region ' + (this.selectedRegions.includes(region) ? 'selected' : '')"
  >
    <title>{{region.name}}</title>
  </path>
</svg>
