.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.regions {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.regions li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0.3em 0em;
  padding-left: 1em;
  height: 1em;
  border-radius: 4px;
}
.regions li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.regions li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
